<!doctype html>
    <html>
        <body>
            <div style="display: block;margin: 0px auto;text-align:center;"><!-- canvas wrapper -->
                <canvas id="canvas" width="600" height="600" style="display: block;margin: 0px auto;border:solid black 1px;">
                    Your browser does not support canvas element.
                 </canvas>
                <br>
                <button style="display: block;margin: 0px auto;border:solid black 3px;" onclick="startup()">Initialize</button>
                <br>
                Log: <pre id="log" style="display: block;margin: 0px auto;border: 1px solid #ccc;"></pre>
            </div><!-- closes canvas wrapper -->
        </body>
    </html>
